.about{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.about-img{
    width: 100%;
    border-radius: 12px;
    height: auto;
}
.about-left{
    flex-basis:40%;
    padding-right: 1rem;
}
.about h3{
    font-size: 25px;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 3rem;
    color: #021447d2;
}
.about .loc p{
    color: #4b4a4a
}
.about-right{
    flex-basis:56%;
    text-align: justify;
}