.about{
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
    
}

.about-img{
    width: 100%;
    border-radius: 50%;
    height: auto;
}
.about-img{
    animation: floatImage 7s ease-in-out infinite;
}
@keyframes floatImage {
    0% {
        transform: translateX(2rem);
    }
    25%{
        transform: translateY(-2rem);
    }
    50% {
        transform: translateX(-2rem);
    }
    75%{
        transform: translateY(2rem);
    }
    100%{
        transform: translateX(2rem);
    }
}

.about-left{
    flex-basis:40%;
}
.about h3{
    font-size: 25px;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 3rem;
    color: #021447d2;
}
.about .loc p{
    color: #4b4a4a
}
.about-right{
    flex-basis:50%;
    text-align: justify;
    padding:0 5%;
}
.about .heading{
    margin-top: 0;
}
.about .heading h2{
    margin-top: 0;
}

.smile{
    width:15px;
}