.qualities{
    margin: 80px auto;
    width: 90%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.quality img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.quality{
    flex-basis: 31%;
    position: relative;
}
.caption{
    border-radius: 10px;
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:rgba(132, 141, 209, 0.466);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:rgb(3, 3, 3);
    cursor: pointer;
    font-weight: 700;
    opacity: 0;
    padding-top: 70%;
    transition: 0.3s;
}
.caption img{
    width: 70px;
    margin-bottom: 10px;
}
.quality:hover .caption{
    opacity: 1;
    padding-top: 0;
}