.contact{
    max-width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background: rgba(204, 201, 201, 0.486);
    padding: 5%;
}
.contact .col{
    flex-basis: 40%;
    color: #312b31; 
}

.col h1{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}
.col ul li{
    display: flex;
    align-items: center;
    margin: 20px 0;
    cursor: pointer;
}
.col ul li img{
    width: 25px;
    margin-right:10px;
}
.contact-col form .enter{
    display: flex;
    flex-direction: row;
}
.entries{
    padding:5px;
}
.contact form input, .contact form textarea{
    display: block;
    width:100%;
    background: #EBECFE;
    padding: 16px;
    outline: 0;
    border: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
}
.col h1 img{
    width:35px;
    margin-left: 10px;
}