@import url('@syncfusion/ej2-base/styles/material.css');
@import url('@syncfusion/ej2-buttons/styles/material.css');
@import url('@syncfusion/ej2-popups/styles/material.css');
@import url('@syncfusion/ej2-inputs/styles/material.css');
@import url('@syncfusion/ej2-lists/styles/material.css');
@import url('@syncfusion/ej2-splitbuttons/styles/material.css');
@import url('@syncfusion/ej2-navigations/styles/material.css');
@import url('@syncfusion/ej2-image-editor/styles/material.css');

.image-editor-container{
    background: #6d6161cb;
    padding: 15rem;
    padding-bottom: 0; 
    display: flex;
    width: 100%;
    height: 140vh;
    justify-content: center;
    align-items: center;
  }



  
  
  